<div class="footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-9 footer-column-left">
          <h1 class="footer-logo">Flatstyle</h1>
          <p class="bottom-footer-text"><a class="footer-link" href="#top">Top</a>&nbsp;&nbsp;/&nbsp;<a class="footer-link" href="#about-us">About us</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#pricing" class="footer-link">Pricing</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="https://webflow.com/templates/designer/zombi"
            class="footer-link" target="_blank">Buy template&nbsp;</a>
          </p>
        </div>
        <div class="w-col w-col-3 footer-column-right">
          <p class="small-paragraph">© 2014 Flatstyle</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-flyout" data-ix="display-none-flyout">
    <div class="w-row">
      <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 flyout-left">
        <h6 class="flyout-title">Follow us!</h6>
      </div>
      <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 w-clearfix flyout-right">
        <a class="w-inline-block some-icon google" href="http://www.google.com" target="_blank">
          <img src="images/Icon-googleplus.png" alt="5358106c209ed6383600003b_Icon-googleplus.png">
        </a>
        <a class="w-inline-block some-icon twitter" href="http://www.twitter.com" target="_blank">
          <img src="images/Icon-twitter.png" alt="53581064db29e9893900004b_Icon-twitter.png">
        </a>
        <a class="w-inline-block some-icon" href="http://www.facebook.com" target="_blank">
          <img src="images/Icon-facebook.png" alt="5358103b2cbcbe8a3900002d_Icon-facebook.png">
        </a>
      </div>
    </div>
    <a class="w-inline-block circle-close-button small" href="#" data-ix="close-flyout-bar">
      <img src="images/Icon-cross.png" alt="5356ace426a94dc12f000bee_Icon-cross.png">
    </a>
  </div>
  <div class="w-hidden-main mobile-navbar-container">
    <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container"><a class="w-nav-brand logo-container" href="#top"><h1>Flatstyle</h1></a>
        <a class="w-inline-block gototop" href="#top">
          <img class="gototop-icon" src="images/Icons-pijltop-white.png" alt="535755e03769dde233000219_Icons-pijltop-white.png">
        </a>
        <nav class="w-nav-menu nav-menu-container" role="navigation"><a class="w-nav-link nav-link" href="#intro">Our work</a><a class="w-nav-link nav-link" href="#about-us">About</a><a class="w-nav-link nav-link" href="#projects">Projects</a><a class="w-nav-link nav-link" href="#new">New</a><a class="w-nav-link nav-link"
          href="#examples">Examples</a><a class="w-nav-link nav-link" href="#pricing">Pricing</a><a class="w-nav-link nav-link" href="#" data-ix="show-contact-bar">Contact</a>
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu menu-icon"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-hidden-main mobile-navbar-container">
    <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container"><a class="w-nav-brand logo-container" href="#top"><h1>Flatstyle</h1></a>
        <a class="w-inline-block gototop" href="#top">
          <img class="gototop-icon" src="images/Icons-pijltop-white.png" alt="535755e03769dde233000219_Icons-pijltop-white.png">
        </a>
        <nav class="w-nav-menu nav-menu-container" role="navigation"><a class="w-nav-link nav-link" href="#intro">Our work</a><a class="w-nav-link nav-link" href="#about-us">About</a><a class="w-nav-link nav-link" href="#projects">Projects</a><a class="w-nav-link nav-link" href="#new">New</a><a class="w-nav-link nav-link"
          href="#examples">Examples</a><a class="w-nav-link nav-link" href="#pricing">Pricing</a><a class="w-nav-link nav-link" href="#" data-ix="show-contact-bar">Contact</a>
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu menu-icon"></div>
        </div>
      </div>
    </div>
  </div>