  <div class="page-content" id="new" style="padding-bottom:0px;">
    <div class="w-container container centered">
      <div class="title-block" data-ix="fade-in-scroll">
        <h2 class="section-title">Accountancy and Business Services</h2>
        <h2 class="section-title _2">with a Programming Twist > Redefine the Game.</h2>
      </div>

      <div class="w-row _2-half-column">
        <div class="w-col w-col-6 left-column">
            <ul class="w-list-unstyled overall-list">
            <li class="overall-list-item">
              <h4>Redefining the art of an accountants business service.</h4>
              <p>Business Knights are accountants who've taken the leap to understand the language of the new business world and its engineering capacity; code and programming.  Furthermore, they have underwent unrivalled experience, training and challenge with the ultimate end game of serving their duty, council and engineering toward your business advantage and operational efficiency.  Technology and business, is now too material not have the professional excellence of Knight serving your business.</p>
            </li>
            <li class="overall-list-item">
             <h4>Any business - Nec Aspera Terrant</h4>
              <p>Knights are split into two orders to service most effectively the varied demand of professional service in the business arena.  Only a Knight knows reconciling smaller client payroll attempts are just as technically demanding as congolmerate company reporting system migrations.  Anything from financial and tax details, to software engineering and business technology, a Knight offers better quality, more of it, faster, and at lower cost, no matter what size the business or challenge.</p>
            </li>
            <li class="overall-list-item">
              <h4>It's a new model relationship, and service.</h4>
              <p>A Knight is a software engineer as well as an accountant.  Outside of the basics such as your accounts, tax comps or websites, the blend of these knowledge and skillsets, and how they can serve your business advantage and efficiency, cannot be defined. For every business is unique, as too is their balance sheet, profit and loss, cash flows and other operational considerations.   In the second machine age, bespoke is better ... Achieve more for less cost, feel empowered and informed, with a Knight's professional excellence inside your business.  And remember still, they can 'build' too.  Re-defining the art of an accountants professional service.</p>
            </li>
          </ul>
          <p class="small-paragraph">See more regarding the STANDARD of KNIGHT. <a href="/sok" class="link small">More info ›</a>
          </p>
        </div>
        <div class="w-col w-col-6 right-column">
          <img src="images/Iphone-Mockup.png" alt="535cb58420e17f3a560006fb_Iphone-Mockup.png" data-ix="fade-in-from-left-slow">
          <div class="round-label">
            <h4 class="label-title">New!</h4>
          </div>
          <ul class="w-list-unstyled overall-list">
            <li class="overall-list-item">
             <h4>Don't believe us?  Challenge your advisors to compete against us.</h4>
              <p>A Knight can do what 10 people in the old model can do.  We guarantee, no matter what your business or finance challenge, be it bookkeeping an SME payroll ledger to setting up a banking core reporting system, a Knight lead project will get it done in half the time, half the cost, involve half the client capacity, half the cost to maintain or develop, and most importantly, half the stress.  Yet at the same time will be twice the solution, twice the quality and serve twice the business value.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="cta-bar">
      <div class="w-container" data-ix="fade-in-scroll">
        <h2 class="section-title white">Do you advisors understand todays business challenges if they don't speak the language?</h2>
        <h2 class="section-title _2">Let’s have a chat!</h2><a class="button" href="#" data-ix="show-contact-bar">Get in touch</a><a class="button outlined" href="#" data-ix="show-hidden-signup-form">Sign up!</a>
      </div>
    </div>
</div>