<div class="page-content" id="new">
    <div class="w-container container centered">
      <div class="w-row _2-half-column">
        <div class="w-col w-col-6 left-column">
          <img src="images/Iphone-Mockup.png" alt="535cb58420e17f3a560006fb_Iphone-Mockup.png" data-ix="fade-in-from-left-slow">
          <div class="round-label">
            <h4 class="label-title">New!</h4>
          </div>
          <ul class="w-list-unstyled overall-list">
            <li class="overall-list-item">
              <h4>Technology empowered</h4>
              <p>Our Knights deliver high quality low cost business service unrivalled by any accoutancy or professional service firms.  That's because they have their very own software engineering toolbox, and connect to a business matrix only they understand.  From computer language libraries and frameworks used by Google or NASA, to simple bookkeeping systems, a Knight knows how leverage billions of $'s of software investment and already written code, to do it faster and better.  Empower your business, make your business their Duty.</p>
            </li>
          </ul>
        </div>
        <div class="w-col w-col-6 right-column">
          <h2 class="section-title">How we work</h2>
          <h2 class="section-title _2">Creative professionals - Nec Aspera Terrant</h2>
          <div class="divider-line small"></div>
          <ul class="w-list-unstyled overall-list">
          	<li class="overall-list-item">
              <h4>Our professional duty</h4>
              <p>In the old days, the business equation involved transactions, assets, liabilities, money and customer preferences, one not so reliant on software and technology.  Today however, and to best serve our client sucess, our professional duty required us take a professional leap and broaden our skillset and knowledge.  We had to understand the language of the digitial world to learn how to best leverage it for business benefit.</p>
            </li>
            <li class="overall-list-item">
              <h4>Why we programme</h4>
              <p>Code is the language of the digital world.  If you want to understand this world then you have to understand its language.  And most importantly, a true professional needs a engineering toolbox.  Now that we speak the language, our Knight unique knowledge and skillsets, can serve your business King by Duty, Council or Engineering, ranging from basic accounts or taxation production, to low cost empowering business software.  How can you stay ahead of the competition if you're using the same applications?</p>
            </li>
            <li class="overall-list-item">
              <h4>Finance Driven</h4>
              <p>Accounting is the language of business, and the finance department is the brain of any business.  Our Knights start here by business duty; bookkeeping, statutory accounts, financial control, taxation, payroll etc.  A Knight leverages cutting edge practices and expertise to connect your business information and processes.  Business information rich management, make intelligent business decisions.</p>
            </li>
          </ul>
          <p class="small-paragraph">See more regarding the STANDARD of KNIGHT. <a href="/sok" class="link small">More info ›</a>
          </p>
        </div>
      </div>
    </div>

    <div class="cta-bar">
      <div class="w-container" data-ix="fade-in-scroll">
        <h2 class="section-title white">Do you advisors understand todays business challenges if they don't speak the language?</h2>
        <h2 class="section-title _2">Let’s have a chat!</h2><a class="button" href="#" data-ix="show-contact-bar">Get in touch</a><a class="button outlined" href="#" data-ix="show-hidden-signup-form">Sign up!</a>
      </div>
    </div>
</div>