<div class="page-content" id="kob" style="padding-top:0px;">
  <div class="w-container container centered">
      
	<div class="title-block" data-ix="fade-in-scroll">
	    <h2 class="section-title">Our tools</h2>
	    <h2 class="section-title _2">Libraries, frameworks and tools we use to deliver unrivalled professional service.</h2>
	</div>
	<div class="divider-line"></div>
	<div class="w-row">
		<div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll">
		  <a class="w-inline-block icon-block" href="#examples">
		    <img src="images/Icon-Green.png" alt="53576fd63f5f51cb3600031d_Icon-Green.png">
		  </a>
		  <h4>Monea businessEcosystem</h4>
		  <p>A world leader base business web-application we can engineer to meet your bespoke business reporting and intelligence needs.</p><a class="link" href="">See more</a>
		</div>
		<div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-2">
		  <a class="w-inline-block icon-block" href="#examples">
		    <img src="images/Icon-Blue.png" alt="53576fca3f5f51cb3600031a_Icon-Blue.png">
		  </a>
		  <h4>Ruby and Javascript</h4>
		  <p>Programming languages Knights prefer, to parse transactions, manipulate a trial balance, engineer web-reporting, link finanical models, connect to the business matrix. </p><a class="link" href="https://www.ruby-lang.org/en/">Ruby</a><br>
		  <a class="link" href="https://www.ruby-lang.org/en/">Javascript</a>
		</div>
		<div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-3">
		  <a class="w-inline-block icon-block" href="#new">
		    <div class="round-label">
		      <h4 class="label-title">New!</h4>
		    </div>
		    <img src="images/Icon-Pink.png" alt="53576fe8723f05e3330002a7_Icon-Pink.png">
		  </a>
		  <h4>Sinatra and Ruby on Rails</h4>
		  <p>A Knights tool of choice when deploying to the web, or connecting to the business Matrix.</p><a class="link" href="#new">Learn more</a>
		</div>
		<div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-4">
		  <a class="w-inline-block icon-block" href="#projects">
		    <img src="images/Icon-Yellow.png" alt="535770e63f5f51cb36000349_Icon-Yellow.png">
		  </a>
		  <h4>HTML5 ad CSS</h4>
		  <p>A Knights choosen Markup for getting to the business King, insightful and meaningful business information.</p><a class="link" href="">Learn more</a>
		</div>
	</div>

  </div>
</div>

<div class="hidden-content-section">
	<div class="w-container">
	  <div class="title-block" data-ix="fade-in-scroll">
	    <h2 class="section-title">You dream, we build.</h2>
	    <h2 class="section-title _2">No challenge to complex, nothing impossible.  <br><br>businessKnights - "By difficulties undaunted".</h2><a class="button" href="#" data-ix="show-hidden-content">Learn more</a>
	  </div>
	</div>
</div>

<div class="page-content" id="kob">
  <div class="w-container container centered">
	 <div class="title-block" data-ix="fade-in-scroll">
	      <h2 class="section-title">More tools</h2>
	      <h2 class="section-title _2">Libraries, frameworks and tools we use to deliver unrivalled professional service.</h2>
	 </div>
	 <div class="divider-line"></div>
	 <div class="w-row">
	      <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll">
	        <a class="w-inline-block icon-block" href="#examples">
	          <img src="images/Icon-Green.png" alt="53576fd63f5f51cb3600031d_Icon-Green.png">
	        </a>
	        <h4>Git and Heroku</h4>
	        <p>A Knights tool of choice to write better code, faster with teams and individuals.  And to get engineered product deployed for around the clock business access.</p><a class="link" href="#message">Learn more</a>
	      </div>
	      <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-2">
	        <a class="w-inline-block icon-block" href="#examples">
	          <img src="images/Icon-Blue.png" alt="53576fca3f5f51cb3600031a_Icon-Blue.png">
	        </a>
	        <h4>Object orientated programming and software design</h4>
	        <p>A high level concept of how our Knights think, move, connect the dots and create Business solutions at low cost.</p><a class="link" href="#message">Learn more</a>
	      </div>
	      <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-4">
	        <a class="w-inline-block icon-block" href="#projects">
	          <img src="images/Icon-Yellow.png" alt="535770e63f5f51cb36000349_Icon-Yellow.png">
	        </a>
	        <h4>Google, Amazon and Apple developer tools</h4>
	        <p>A Knight has access and is fluent in, the already written code of billions of $'s of investment in software functionality. It's waiting to be unlocked by your business.</p><a class="link" href="#projects">Learn more</a>
	      </div>
	      <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-2">
	        <a class="w-inline-block icon-block" href="#examples">
	          <img src="images/Icon-Pink.png" alt="53576fe8723f05e3330002a7_Icon-Pink.png">
	        </a>
	        <h4>MATHLAB</h4>
	        <p>Again, some lovely tools and libraries our Knights love to use to combat any business challenge no matter how complex.</p><a class="link" href="#message">Learn more</a>
	      </div>
	 </div>
  </div>
</div>

<div class="cta-bar">
    <div class="w-container" data-ix="fade-in-scroll">
      <h2 class="section-title white">have something in mind?</h2>
      <h2 class="section-title _2">Let’s have a chat!</h2><a class="button" href="#" data-ix="show-contact-bar">Get in touch</a><a class="button outlined" href="#" data-ix="show-hidden-signup-form">Sign up!</a>
    </div>
</div>
