  <div class="w-hidden-medium w-hidden-small w-hidden-tiny navbar-container" data-ix="display-none-navbar">
    <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container"><a class="w-nav-brand logo-container" href="/"><h1>business Knights</h1></a>
        <a class="w-inline-block gototop" href="/homepage">
          <img class="gototop-icon" src="images/Icons-pijltop-white.png" alt="535755e03769dde233000219_Icons-pijltop-white.png">
        </a>
        <nav class="w-nav-menu nav-menu-container" role="navigation">
          <a class="w-nav-link nav-link" href="/sok">Standard of knight</a>
          <a class="w-nav-link nav-link" href="/howwework">How we work</a>
          <a class="w-nav-link nav-link" href="/services">Our Services</a>
          <a class="w-nav-link nav-link" href="/homepage" data-ix="show-contact-bar">Knights Guard</a>
          <a class="w-nav-link nav-link" href="/homepage" data-ix="show-contact-bar">Contact</a>
          <a class="w-nav-link nav-link" href="#examples">Monea</a>

        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu menu-icon"></div>
        </div>
      </div>
    </div>
  </div>