<div class="page-content" id="kob">
    <div class="w-container container centered">
      <div class="title-block" data-ix="fade-in-scroll">
        <h2 class="section-title">Our services by area of expertise</h2>
        <h2 class="section-title _2">A Knight offers professional guidance, advisory or engineered product in all of the below areas</h2>
      </div>
      <div class="divider-line"></div>
      <div class="w-row">
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll">
            <a class="w-inline-block icon-block" href="#examples">
              <img src="images/Icon-Green.png" alt="53576fd63f5f51cb3600031d_Icon-Green.png">
            </a>
            <h4>Business Support</h4>
            <p>Professional practices, shared services, management reporting, financial control.</p><a class="link" href="#message">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-2">
            <a class="w-inline-block icon-block" href="#examples">
              <img src="images/Icon-Blue.png" alt="53576fca3f5f51cb3600031a_Icon-Blue.png">
            </a>
            <h4>Financial Engineering</h4>
            <p>Re-create financial and business processes.</p><a class="link" href="#message">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-3">
            <a class="w-inline-block icon-block" href="#new">
              <div class="round-label">
                <h4 class="label-title">New!</h4>
              </div>
              <img src="images/Icon-Pink.png" alt="53576fe8723f05e3330002a7_Icon-Pink.png">
            </a>
            <h4>Business software and systems</h4>
            <p>Build or employ specialist trusted vendors.</p><a class="link" href="#new">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-4">
            <a class="w-inline-block icon-block" href="#projects">
              <img src="images/Icon-Yellow.png" alt="535770e63f5f51cb36000349_Icon-Yellow.png">
            </a>
            <h4>Strategic cost Reduction</h4>
            <p>Re-align your business operating model to ensure LT success.</p><a class="link" href="#projects">Learn more</a>
          </div>
        </div>

      <div class="divider-line"></div>
      <div class="w-row">
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll">
            <a class="w-inline-block icon-block" href="#examples">
              <img src="images/Icon-Green.png" alt="53576fd63f5f51cb3600031d_Icon-Green.png">
            </a>
            <h4>Business risk</h4>
            <p>Leverage unrivalled expertise to minimise your business risk.</p><a class="link" href="#message">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-2">
            <a class="w-inline-block icon-block" href="#examples">
              <img src="images/Icon-Blue.png" alt="53576fca3f5f51cb3600031a_Icon-Blue.png">
            </a>
            <h4>Audit and assurance</h4>
            <p>Financial reporting expertise now matter how complicated the financial instruments.</p><a class="link" href="#message">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-3">
            <a class="w-inline-block icon-block" href="#new">
              <div class="round-label">
                <h4 class="label-title">New!</h4>
              </div>
              <img src="images/Icon-Pink.png" alt="53576fe8723f05e3330002a7_Icon-Pink.png">
            </a>
            <h4>Taxation</h4>
            <p>Leverage all the battle mechanisms available to those who invest in their business development.</p><a class="link" href="#new">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-4">
            <a class="w-inline-block icon-block" href="#projects">
              <img src="images/Icon-Yellow.png" alt="535770e63f5f51cb36000349_Icon-Yellow.png">
            </a>
            <h4>Corporate Finance</h4>
            <p>Ensure your business is financed and running cost effectively.</p><a class="link" href="#projects">Learn more</a>
          </div>
        </div>

      <div class="divider-line"></div>
      <div class="w-row">
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll">
            <a class="w-inline-block icon-block" href="#examples">
              <img src="images/Icon-Green.png" alt="53576fd63f5f51cb3600031d_Icon-Green.png">
            </a>
            <h4>Economics and Statistics</h4>
            <p>Econometrics, the macro-environment, empowering information.</p><a class="link" href="#message">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-2">
            <a class="w-inline-block icon-block" href="#examples">
              <img src="images/Icon-Blue.png" alt="53576fca3f5f51cb3600031a_Icon-Blue.png">
            </a>
            <h4>Business development and planning</h4>
            <p>Financial reporting expertise now matter how complicated the financial instruments.</p><a class="link" href="#message">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-3">
            <a class="w-inline-block icon-block" href="#new">
              <div class="round-label">
                <h4 class="label-title">New!</h4>
              </div>
              <img src="images/Icon-Pink.png" alt="53576fe8723f05e3330002a7_Icon-Pink.png">
            </a>
            <h4>Recovery and re-organisation</h4>
            <p>Leverage all the battle mechanisms available to those who invest in their business development.</p><a class="link" href="#new">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-4">
            <a class="w-inline-block icon-block" href="#projects">
              <img src="images/Icon-Yellow.png" alt="535770e63f5f51cb36000349_Icon-Yellow.png">
            </a>
            <h4>Engineered Consulting</h4>
            <p>Ensure your business is financed and running cost effectively.</p><a class="link" href="#projects">Learn more</a>
          </div>
        </div>

    </div>
  </div>
  
  <div class="hidden-content-section">
    <div class="w-container">
      <div class="title-block" data-ix="fade-in-scroll">
        <h2 class="section-title">You ask, our knights deliver.</h2>
        <h2 class="section-title _2">Unrivalled expertise and business support at unbeatable cost.</h2><a class="button" href="#" data-ix="show-hidden-content">Learn
         more</a>
      </div>
    </div>
  </div>

  <div class="color-section green" id="about-us">
    <div class="w-container">
      <div class="w-row">
        <h2 class="section-title">More examples of a Knights professional service</h2>
        <h2 class="section-title _2" style="color:white;">No matter what you business challenge, a Knight will make your business easier.</h2> 
        <div class="w-col w-col-6">
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-creative.png" alt="53598441b47e260e3f00005d_Icon-creative.png">
            <h4 class="h4-white">Financial statements and audit.</h4>
            <p class="all-paragraphs-white">Companies house compliant UK GAAP and IFRS accounts production services.  Derivative reporting?  Not a problem.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-colorful.png" alt="53598448b47e260e3f00005e_Icon-colorful.png">
            <h4 class="h4-white">Corporation tax computations or VAT services.</h4>
            <p class="all-paragraphs-white">For any return or engagement with HMRC we've got it covered.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-colorful.png" alt="53598448b47e260e3f00005e_Icon-colorful.png">
            <h4 class="h4-white">Financial control or managment reporting.</h4>
            <p class="all-paragraphs-white">Let our Knights lead your finance department.  Business information rich drives business intelligent decisions.</p>
           </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Business software and systems implementation.</h4>
            <p class="all-paragraphs-white">Don't pay too much, for poor software, that's not needed. And pay someone else to put the system in.  Our Knights implement better, and iterate faster and cheaper. </p>
          </div>
          
          <p class="intro-paragraph white">Any business challenge</p><a class="link yellow" href="#" data-ix="show-contact-bar">Get in touch!</a>
        </div>
        <div class="w-col w-col-6">
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Regulatory reporting.</h4>
            <p class="all-paragraphs-white">FCA or BOE, CRD IV, let a Knight engineer your reporting.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-inspire.png" alt="53598461b47e260e3f000062_Icon-inspire.png">
            <h4 class="h4-white">Business operations refactoring.</h4>
            <p class="all-paragraphs-white">Empower technology, shread cost and engineer competitive advantage.  And leave it all up to your business Knight if you wish.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Business structures and strategy.</h4>
            <p class="all-paragraphs-white">A Knight has knowledge, expertise and networks in all things business.  Let them Counci and implement your business dream.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Business intelligence and big data.</h4>
            <p class="all-paragraphs-white">Harness real-time information and empower your business decisions with rich and organised data.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-creative.png" alt="53598441b47e260e3f00005d_Icon-creative.png">
            <h4 class="h4-white">Transaction services</h4>
            <p class="all-paragraphs-white">For any external service transaction, get unrivalled product or council from a business Knight.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-colorful.png" alt="53598448b47e260e3f00005e_Icon-colorful.png">
            <h4 class="h4-white">Leadership and Culture</h4>
            <p class="all-paragraphs-white">Deploy the best mindset, behaviours and practices inside your business, and let your business transform itself.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-colorful.png" alt="53598448b47e260e3f00005e_Icon-colorful.png">
            <h4 class="h4-white">Optimise operations</h4>
            <p class="all-paragraphs-white">Business Knights don't just highlight the problem, they engineer low cost quality solutions.</p>
           </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Business change</h4>
            <p class="all-paragraphs-white">Unrivalled business change programmes delivered stress free and at unbeatable cost.</p>
          </div>
          
          <p class="intro-paragraph white">Any business challenge</p><a class="link yellow" href="#" data-ix="show-contact-bar">Get in touch!</a>
        </div>
        <div class="w-col w-col-6">
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Realise strategic ambitions</h4>
            <p class="all-paragraphs-white">Take on your business challenges with ease and know you're getting the best service at low cost.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-inspire.png" alt="53598461b47e260e3f000062_Icon-inspire.png">
            <h4 class="h4-white">Specialised advisory services</h4>
            <p class="all-paragraphs-white">With you're a banking start-up, or a new restaurant chain, our Knights make business easier through leverage cutting edge technologies and expertise.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Growth, business planning or development.</h4>
            <p class="all-paragraphs-white">A Knight has knowledge, expertise and networks in all things business.  Let them Counci and implement your business dream.</p>
          </div>
         <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-creative.png" alt="53598441b47e260e3f00005d_Icon-creative.png">
            <h4 class="h4-white">Maximise and protect business wealth</h4>
            <p class="all-paragraphs-white">Balance sheet management and working capital structures to suit your business.</p>
          </div>
        </div>
      </div>
    </div>



  </div>



