  <div class="contact-block" data-ix="display-none-contact-block">
    <a class="w-inline-block circle-close-button" href="#" data-ix="close-contact-bar">
      <img src="images/Icon-cross.png" alt="5356ace426a94dc12f000bee_Icon-cross.png">
    </a>
    <h2 class="section-title white">GEt in touch</h2>
    <h2 class="section-title _2">Send us a mail!</h2>
    <p class="all-paragraphs-white">Don’t hestitate to get in touch if you have a question or need more information!</p>
    <div class="w-form">
      <form class="contact-form" id="wf-form-contact-form" name="wf-form-contact-form" data-name="Contact Form">
        <input class="w-input field" id="name" type="text" placeholder="Enter your name" name="name" data-name="Name 3" required="required">
        <input class="w-input field" id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email 3" required="required">
        <textarea class="w-input field area" id="message" placeholder="Your message..." name="message" data-name="Message" required="required"></textarea>
        <input class="w-button button" type="submit" value="Submit" data-wait="Please wait...">
      </form>
      <div class="w-form-done success-bg">
        <p class="success-text"><strong>Thank you! </strong>Your submission has been received!</p>
      </div>
      <div class="w-form-fail error-bg">
        <p class="all-paragraphs-white"><strong>Oops! </strong>Something went wrong while submitting the form :(</p>
      </div>
    </div>
    <div class="divider-line light"></div>
    <p><strong>Flatstyle</strong>
      <br>Grote Dijklaan 23
      <br>4822 DE, Amsterdam
      <br><a class="link" href="mailto:info@">info@flatstyle.nl</a>
    </p>
  </div>