  <div class="header">
    <div class="w-slider main-slider" id="top" data-animation="fade" data-duration="900" data-infinite="1" data-ix="display-navbar" data-delay="4000" data-autoplay="1">
      <div class="w-slider-mask">
        <div class="w-slide main-slide" data-ix="display-navbar">
          <div class="w-container slider-container">
            <h2 class="large-title" data-ix="title-fade-in">Wider still</h2>
            <h2 class="large-title white" data-ix="title-fade-in-2">And wider</h2>
            <h2 class="large-title black" data-ix="title-fade-in-3">Shall </h2>
            <h2 class="large-title white" data-ix="title-fade-in-4">thy bounds </h2>
             <h2 class="large-title black" data-ix="title-fade-in-5">be set</h2>
            <div class="divider-line" data-ix="divider-grow"></div>
            <div class="slider-text-block" data-ix="title-fade-in-5">
              <p class="intro-paragraph white">We had to re-define the boundaries of our craft in order to best serve your business.  Software, technology and business is now material by nature of the digital world we operate in.  It was a Knights natural progression.</p><a class="button" href="#/howwework">How We Work</a><a class="button green-outline" href="/sok">STANDARD of Knight</a>
            </div>
          </div>
        </div>
        <div class="w-slide main-slide _3">
          <div class="w-container slider-container">
            <h2 class="large-title white" data-ix="title-fade-in">Knights</h2>
            <h2 class="large-title white" data-ix="title-fade-in-2">Make&nbsp;</h2>
            <h2 class="large-title yellow" data-ix="title-fade-in-3">business</h2>
            <h2 class="large-title green" data-ix="title-fade-in-4">Easy</h2>
            <div class="divider-line" data-ix="divider-grow"></div>
            <div class="slider-text-block" data-ix="title-fade-in-5">
              <p class="intro-paragraph white">Masters of programming techonology, delivering in competitive and time pressured environments, big and complex financial or business projects are relished by our knights. Nec Aspera Terrant ("By difficulties undaunted") </p><a class="button green" href="/howwework">Their training</a><a class="button outlined" href="/howwework">Their tools</a>
            </div>
          </div>
        </div>
        <div class="w-slide main-slide _5">
          <div class="w-container slider-container">
            <h2 class="large-title" data-ix="title-fade-in">Do your</h2>
            <h2 class="large-title" data-ix="title-fade-in-2">accountants&nbsp;</h2>
            <h2 class="large-title white" data-ix="title-fade-in-3">advise </h2>
            <h2 class="large-title white" data-ix="title-fade-in-4">or code?</h2>
            <div class="divider-line" data-ix="divider-grow"></div>
            <div class="slider-text-block" data-ix="title-fade-in-5">
              <p class="intro-paragraph white">Do your business advisors have their very own toolbox and engineering skillsets?  We're craftsmen and our art is your business.</p><a class="button" href="#kob">Smaller Biz</a><a class="button green-outline" href="#kol">Bigger Biz</a>
            </div>
          </div>
        </div>
        <div class="w-slide main-slide _2">
          <div class="w-container slider-container">
            <h2 class="large-title white" data-ix="title-fade-in">Choose your</h2>
            <h2 class="large-title white" data-ix="title-fade-in-2">business  &nbsp;</h2>
            <h2 class="large-title" data-ix="title-fade-in-3">knight</h2>
            <h2 class="large-title" data-ix="title-fade-in-4">and race</h2>
            <div class="divider-line" data-ix="divider-grow"></div>
            <div class="slider-text-block" data-ix="title-fade-in-5">
              <p class="intro-paragraph white">Business is a wide and varied battlefield.  Our knights services vary depending on your business size or nature.  Choose your business Knight and race with the machines. </p><a class="button" href="#kob">Smaller Biz</a><a class="button green-outline" href="#kol">Bigger Biz</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slider-arrow-left w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round main-slide-navbar"></div>
    </div>
  </div>