<div class="page-content" id="kol">
    <div class="w-container container centered">
      <div class="title-block" data-ix="fade-in-scroll">
        <h2 class="section-title">Knights of the Ledger</h2>
        <h2 class="section-title _2">Knights that serve bigger business.</h2>
      </div>
      <div class="divider-line"></div>
      <div class="w-row">
        <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-2">
          <a class="w-inline-block icon-block" href="#examples">
            <img src="images/Icon-Blue.png" alt="53576fca3f5f51cb3600031a_Icon-Blue.png">
          </a>
          <h4>Finance operations and business processes</h4>
          <p>Many a Knights battle involves yielding their sword against costly, outdated and inefficient business finance operational processes.  Our Knights can engineer efficiency to ensure costs are low and margins high.</p><a class="link" href="#message">Learn more</a>
        </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll">
          <a class="w-inline-block icon-block" href="#examples">
            <img src="images/Icon-Green.png" alt="53576fd63f5f51cb3600031d_Icon-Green.png">
          </a>
          <h4>Engineered financial and management reporting</h4>
          <p>A Knight uses Excel to pivot data, not to report information.  Command better financial reporting information and product, and watch our Knights engineer web-based reporting packs all stakeholders can collaborate on with ease.</p><a class="link" href="#new">Learn more</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-3">
          <a class="w-inline-block icon-block" href="#new">
            <div class="round-label">
              <h4 class="label-title">New!</h4>
            </div>
            <img src="images/Icon-Pink.png" alt="53576fe8723f05e3330002a7_Icon-Pink.png">
          </a>
          <h4>Engineered intelligence and big data.</h4>
          <p>Our Knights speak financial statments, computer code and macro environments, to help their Kings stay informed, intelligent and ahead of the competition.  Our Knights serve a long term view.</p><a class="link" href="#new">Learn more</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-4">
          <a class="w-inline-block icon-block" href="#projects">
            <img src="images/Icon-Yellow.png" alt="535770e63f5f51cb36000349_Icon-Yellow.png">
          </a>
          <h4>Bespoke business or financial software</h4>
          <p>Our Knights can either write your business software, lead software development teams, or engage providers to ensure your business gets suitable, efficient and cost effective technology.  Stop paying too much for not enough and trust a Knight to deliver business value.</p><a class="link" href="#projects">Learn more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-content-section">
    <div class="w-container">
      <div class="title-block" data-ix="fade-in-scroll">
        <h2 class="section-title">You ask, our knights deliver.</h2>
        <h2 class="section-title _2">No challenge too big or complex. A Knight does not retreat - Vestigia nulla retrorsum.</h2><a class="button" href="#" data-ix="show-hidden-content">Learn
         more</a>
      </div>
    </div>
  </div>
  <div class="hidden-section" data-ix="display-none-hidden-content">
    <div class="w-container">
      <div class="w-row hidden-row">
        <div class="w-col w-col-3 w-col-small-6 overall-column">
          <h5>Creativity</h5>
          <p class="all-paragraphs-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p><a class="link" href="#examples">Learn more</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 overall-column">
          <h5>Colorful</h5>
          <p class="all-paragraphs-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p><a class="link" href="#message">Learn more</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 overall-column">
          <h5>Innovative</h5>
          <p class="all-paragraphs-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p><a class="link" href="#examples">Learn more</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 overall-column">
          <h5>Inspire</h5>
          <p class="all-paragraphs-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p><a class="link" href="#message">Learn more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="color-section green" id="about-us">
    <div class="w-container">
      <div class="w-row">
        <h2 class="section-title">Bread and butter bigger business</h2>
        <h2 class="section-title _2" style="color:white;">A Business Knight has had extreme and intense training so no business challenge is too big or complex.  The more moving parts in a process, the larger the data sets, the more complicated the finanical model, the bigger the report, the higher the demand required by technologies ... The more business engineering magic you will see. </h2> 
        <div class="w-col w-col-6">
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-creative.png" alt="53598441b47e260e3f00005d_Icon-creative.png">
            <h4 class="h4-white">Engineered web-based month end reporting.</h4>
            <p class="all-paragraphs-white">We use flexible technologies to enable us to engineer easy-to-use management MI packs quickly no what your business reporting demand.  Collaborate with ease.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-colorful.png" alt="53598448b47e260e3f00005e_Icon-colorful.png">
            <h4 class="h4-white">Engineered business and management intelligence</h4>
            <p class="all-paragraphs-white">You define your business problem domain, and a Knight will engineer a solution to ensure you get your information quickly, succiently and at low cost.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-colorful.png" alt="53598448b47e260e3f00005e_Icon-colorful.png">
            <h4 class="h4-white">Outsourced financial control and management reporting</h4>
            <p class="all-paragraphs-white">Let our knights lead your world class business finance team.  Business information rich drives business intelligent decisions.</p>
           </div>
          
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Statutory and regulatory returns</h4>
            <p class="all-paragraphs-white">Audited plc financial statements to FCA or BOE regulatory returns, a Knight has done it before and can integrate and automate no matter how contorted the input data.  Reach unrivalled low cost professional networks that deliver.</p>
          </div>
          
          <p class="intro-paragraph white">Any business challenge - Vestigia nulla retrorsum</p><a class="link yellow" href="#" data-ix="show-contact-bar">Get in touch!</a>
        </div>
        <div class="w-col w-col-6">
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Business software and systems implementation.</h4>
            <p class="all-paragraphs-white">Leverage professional expertise and get the best technologies and software, implemented efficiently, and structured to evolve with your business, all at low cost and with a Knights support.  Business made easy.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Business process and re-engineering.</h4>
            <p class="all-paragraphs-white">Empower technology, shread cost and engineer competitive advantage.  Stay lean and agile, and have this project delivered by both the accountant and programmer (a Knight), a new professional excellence.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-inspire.png" alt="53598461b47e260e3f000062_Icon-inspire.png">
            <h4 class="h4-white">Financial modelling</h4>
            <p class="all-paragraphs-white">No matter what you business demand, forecast or report, a Knight has a wealth of computer and programming libraries and frameworks to draw on to help solve your problem domain.  </p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Finance function planning and development.</h4>
            <p class="all-paragraphs-white">A Knight claims they can see the future, either way, they certainly know cutting edge mindsets, behaviours and technologies to align yourself for future longevity.  Draw from a Knights matrix knowledge and expertise, or even let them engineer your solution.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Command centre Deploy</h4>
            <p class="all-paragraphs-white">Let a Knight setup your very own Knights engineer Temple inside your business, and watch your business propel itself into next generation transformation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>