<div class="page-content" id="kob">
    <div class="w-container container centered">
      <div class="title-block" data-ix="fade-in-scroll">
        <h2 class="section-title">Knights of the Business</h2>
        <h2 class="section-title _2">Knights that serve smaller business.</h2>
      </div>
      <div class="divider-line"></div>
      <div class="w-row">

          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll">
            <a class="w-inline-block icon-block" href="#examples">
              <img src="images/Icon-Green.png" alt="53576fd63f5f51cb3600031d_Icon-Green.png">
            </a>
            <h4>Business information and intelligence</h4>
            <p>Our knights speak financial statments and computer code to help their masters stay informed, intelligent and ahead of the competition.</p><a class="link" href="#message">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-2">
            <a class="w-inline-block icon-block" href="#examples">
              <img src="images/Icon-Blue.png" alt="53576fca3f5f51cb3600031a_Icon-Blue.png">
            </a>
            <h4>Accounting and business operations</h4>
            <p>Finance management, business management, business operations, our Knights yield their sword against costly business inefficiencies.  Our Knights can Council, Engineer and implement low cost business solutions.</p><a class="link" href="#message">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-3">
            <a class="w-inline-block icon-block" href="#new">
              <div class="round-label">
                <h4 class="label-title">New!</h4>
              </div>
              <img src="images/Icon-Pink.png" alt="53576fe8723f05e3330002a7_Icon-Pink.png">
            </a>
            <h4>Business software, websites and systems</h4>
            <p>Our knights can either write your business software themselves, lead software development teams, or engage providers to ensure your business gets suitable, efficient and cost effective technology.</p><a class="link" href="#new">Learn more</a>
          </div>
          <div class="w-col w-col-3 w-col-small-6 overall-column" data-ix="fade-in-on-scroll-4">
            <a class="w-inline-block icon-block" href="#projects">
              <img src="images/Icon-Yellow.png" alt="535770e63f5f51cb36000349_Icon-Yellow.png">
            </a>
            <h4>Business macro environment</h4>
            <p>Ones environment is probably the most important observation a Knight must make.  Whilst it's the battleground where we'll help you win your profit, it's also where all the forces our knights serve to protect your business against come from.</p><a class="link" href="#projects">Learn more</a>
          </div>
        </div>


    </div>
  </div>
  
  <div class="hidden-content-section">
    <div class="w-container">
      <div class="title-block" data-ix="fade-in-scroll">
        <h2 class="section-title">You ask, our knights deliver.</h2>
        <h2 class="section-title _2">Below, some of our bread and butter smaller business services.  Or see a more detailed list.</h2><a class="button" href="#" data-ix="show-hidden-content">Learn
         more</a>
      </div>
    </div>
  </div>
    <div class="color-section green" id="about-us">
    <div class="w-container">
      <div class="w-row">
        <h2 class="section-title">Bread and butter smaller business</h2>
        <h2 class="section-title _2" style="color:white;">A Knight of the Business has had deep experience in delivering all the business bread and butter professional tasks you expect them to.  Task them to perform or re-wire whichever business service you desire, and free up your capacity to focus on your passion and business development.</h2> 
        <div class="w-col w-col-6">
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-creative.png" alt="53598441b47e260e3f00005d_Icon-creative.png">
            <h4 class="h4-white">Financial statements and audit.</h4>
            <p class="all-paragraphs-white">Companies house compliant UK GAAP and IFRS accounts production services.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-colorful.png" alt="53598448b47e260e3f00005e_Icon-colorful.png">
            <h4 class="h4-white">Corporation tax computations or VAT services.</h4>
            <p class="all-paragraphs-white">For any return or engagement with HMRC we've got it covered.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-colorful.png" alt="53598448b47e260e3f00005e_Icon-colorful.png">
            <h4 class="h4-white">Outsourced bookkeeping or accounting and finance services.</h4>
            <p class="all-paragraphs-white">Let our Knights lead your finance department.  Business information rich drives business intelligent decisions.</p>
           </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Business software and systems implementation.</h4>
            <p class="all-paragraphs-white">Don't pay too much, for poor software, that's not needed. And pay ssomeone else to put the system in.  Our Knights implement better, and iterate faster and cheaper. </p>
          </div>
          
          <p class="intro-paragraph white">Any business challenge</p><a class="link yellow" href="#" data-ix="show-contact-bar">Get in touch!</a>
        </div>
        <div class="w-col w-col-6">
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Business structures and strategy.</h4>
            <p class="all-paragraphs-white">Stay lean and agile, and get unrivalled Knights Council, where the only view is long term success, all at low cost.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-inspire.png" alt="53598461b47e260e3f000062_Icon-inspire.png">
            <h4 class="h4-white">Business operations refactoring.</h4>
            <p class="all-paragraphs-white">Empower technology, shread cost and engineer competitive advantage.  And leave it all up to your business Knight if you wish.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Growth, business planning or development.</h4>
            <p class="all-paragraphs-white">A Knight has knowledge, expertise and networks in all things business.  Let them Counci and implement your business dream.</p>
          </div>
          <div class="text-block" data-ix="fade-in-from-left">
            <img class="icon-left-aligned" src="images/Icon-innovative.png" alt="53598452b47e260e3f000060_Icon-innovative.png">
            <h4 class="h4-white">Representation and Negotiations</h4>
            <p class="all-paragraphs-white">Other software engineers, bankers, accountants, lawyers, a Knight works their environment and speaks their languages.  A Knight by your side helps you get exactly what you want quicker, cheaper and better.  A Knights service, is always protecting your bottom line. </p>
          </div>
        </div>
      </div>
    </div>
  </div>



